@color: lighten(@background-base, 7%);

.breadcrumbs {
	margin: @pad/2 0;
	display: flex;
	padding-bottom: 1px;
	overflow: hidden;
	position: relative;
	margin-right: -@pad;
	padding: @pad/2 @pad*0.9;
	margin: -@pad/2 -@pad*2 @pad;
	background: @color;
	// padding: 0 @pad/2;
	.inner {
		white-space: nowrap;
		padding: @pad/2 0;
	}
	a {
		text-decoration: none;
	}
	&::after {
		content: '';
		background: linear-gradient(to right, fadeout(@color, 100%), @color);
		.position();
		left: auto;
		width: @pad*2;
	}
}

.breadcrumb {
	@space: @pad/3;
	white-space: nowrap;
	font-size: .85em;
	margin-right: @space;
	> span, > a {
		display: inline-block;
		border: 1px solid transparent;
		vertical-align: middle;
		padding-top: @pad/4;
		margin-bottom: @pad/4;
	}
	&:last-child::after {
		display: none;
	}
	&-link {
		a {
			border-bottom: 1px solid @accent-semilight;
		}
	}
	&::after {
		content: '';
		height: 1px;
		width: 0.3em;
		height: 0.3em;
		border-radius: 50%;
		margin-top: 2px;
		vertical-align: middle;
		display: inline-block;
		background: desaturate(@accent-semilight,70%);
		margin-left: @space;
	}
	&-text {

	}
	&-back {
		a {
			border-radius: @pad/4;
			border: 1px solid @accent-semilight;
			margin-right: @space/2;
			padding-bottom: @pad/4 + @pad/12;
			padding-top: @pad/4 - @pad/12;
			position: relative;
			top: @pad/12;
			padding-left: @pad/2;
			margin-bottom: 0;
			padding-right: @pad/2;
		}
	}
}
