.top-navigation {
	justify-content: space-around;
	padding: @pad/4;

	.item {
		padding: @pad/4;
	}
	.btn {
		height: 100%;
		width: @pad*7;
		overflow: hidden;
		color: @text-base;
		svg {
			font-size: 3.6em;
			// .spinner;
			animation-duration: 2s;
		}
		.text {
			font-size: .85em;
		}
		&::after {
			// content: '';
			.position(absolute, 0, 0, 0, auto);
			width: @pad;
			background: linear-gradient(to left, @barely-white 0%,fadeout(@barely-white,100%) 100%);
			z-index: 2;
		}
	}
}

//////////////////////////////////////////

.card-title {
	margin-top: .2em;
}
.card-footer {
	margin-top: @pad;
}
.card-campus {
	hr {
		border: none;
		border-bottom: 1px solid lighten(desaturate(@base-light,40%),10%);
		margin: @pad/4 -@pad/4;
	}
	.grid {
		justify-content: space-between;
		font-size: .85em;
		span {
			vertical-align: middle;
		}
	}
}
