// get the page ready
@phone-tiny: 340px;
@media_phone-tiny: ~"only screen and (max-width: 340px)";
@media_phone-tiny-p: ~"only screen and (max-width: 340px) and (orientation: portrait)";
@media_phone-tiny-l: ~"only screen and (max-width: 340px) and (orientation: landscape)";

@media_phone-plus: ~"only screen and (min-width: 400px)";
@media_phone-plus-p: ~"only screen and (min-width: 400px) and (orientation: portrait)";
@media_phone-plus-l: ~"only screen and (min-width: 400px) and (orientation: landscape)";
@media_phone: ~"only screen and (max-width: 479px)";
@phone: 360px;
@phone-plus: 380px;
@tablet-tiny: 420px;
* { outline: none; box-sizing: border-box; }
body { padding: 0; margin: 0; }
html {
	font-size: 16px;
	@media @media_phone-tiny-p {
		font-size: 14px;
	}
	@media @media_phone-plus {
		font-size: 18px;
	}
}
// html, body, .react-native-web { height: 100%; width: 100%; position: absolute; top: 0; right: 0; overflow: hidden;}
.unsel {
	user-select: none;
}
a.block {
	display: block;
	text-decoration: inherit;
	color: inherit;
}
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
html, body {
	overflow: hidden;
	height: 100%;
	min-width: 320px;
}
html {
	touch-action: manipulation;
	&.modal-opened {
		#root {
			overflow: hidden;
		}
	}
	&.sidebar-opened {
		#root {
			overflow: hidden;
		}
	}
}

#root {
	overflow-y: auto;
	overflow-x: hidden;
	height: inherit;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	background-color: @background-base-light;
}

.dotted() {
  border-bottom: 1px dotted;
}
.position(@position: absolute, @top: 0, @right: 0, @bottom: 0, @left: 0) {
  position: @position;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}
.dashed() {
  border-bottom: 1px dashed;
}
h1,h2,h3,h4,h5,h6 {
  margin: .5em 0 .2em;
  padding: .2em 0 .1em;
  line-height: 1.2em;
  font-weight: 300;
}
@pad: 1rem;

.accent-coloring() {
  background-color: @background-accent;
  color: @text-accent-inverse;
}

.base-coloring() {
  background-color: @background-base;
  color: @text-base;
}

.main-content {
  transition: inherit;
}
.main-content-wrapper  {
  background-color: @barely-white;
  transform-origin: 50% 300px;
  transition: all 100ms ease-in;
  // &::after {
  //   content: '';
  //   .position(fixed, auto);
  //   background: inherit;
  //   box-shadow: 0 0 @pad/2 rgba(0,0,0,.2);
  //   height: @pad*2;
  //   display: block;
  //   transition: inherit;
  //   transform: translateY(@pad*2);
  // }
}
.content {
  padding: @pad;
}

.icon-lg {
  font-size: 2em;
}
.overflow-scrolling-outer {
	@ear: @pad;
	position: relative;
	&::after, &::before {
		.position(absolute);
		z-index: 2;
		content: '';
		width: @ear;
	}
	&::after {
		left: auto;
		background: linear-gradient(90deg, fadeout(@background-base-light, 100%), @background-base-light);
	}
	&::before {
		right: auto;
		background: linear-gradient(-90deg, fadeout(@background-base-light, 100%), @background-base-light);
	}
	.overflow-scrolling {
		padding-left: @ear;
		padding-right: @ear;
	}
}
.overflow-scrolling {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  // flex: 1;
  //   display: flex;
}
.columns {
  display: flex;
  &-custom {
    max-width: 1600px;
    margin: auto;
    > .column {
      margin: 0 auto;
      padding: @pad @pad*2;
    }
  }
}
.columns-custom-wrapper {
  @media (max-width: 420px) {
    background-color: desaturate(#e7eff3,50%);
  }
}
.column {
  padding: 0 @pad;
  flex-grow: 1;
  flex-basis: 0;
  min-width: @pad*20;
  max-width: @pad*30;
  &.skew {
    position: relative;
    z-index: 2;
    padding-bottom: @pad*2;
      &::before {
        z-index: -1;
        content: '';
        .position(absolute);
        display: block;
        // background: @accent-background;
          // transform: skewX(-6deg);

      }
    // &:first-of-type::before {left: -10%;}
    // &:last-of-type::before {right: -10%;}
    // &:nth-of-type(1)::before {background-color: #ceb4e0};
    // &:nth-of-type(1)::before {background-color: #e9f5ec};
    //
    // &:nth-of-type(2)::before {background-color: #b4cee0};
    // &:nth-of-type(2)::before {background-color: #e7eff3};
    //
    // &:nth-of-type(3)::before {background-color: #cee0b4};
    // &:nth-of-type(3)::before {background-color: #efebe6};
  }
}
.accent {
  color: darken(@base,15%);
  background: @background-accent;
  padding: 0 0.15em;
  margin-left: -0.15em;
  margin-right: -0.15em;
  border-radius: 2px;
}
.separator {
  position: relative;
  display: flex;
  margin-top: @pad*3;
  margin-bottom: @pad*3;
  align-items: center;
  justify-content: center;
  height: @pad*2;
}
.separator-line {
  @size: @pad*2;
  width: @size*2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: @size;
  svg {
    fill: rgba(0,0,0,.4);
  }
  &::before, &::after {
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,.2);
  }
  &::before {
    right: 50%;
    left: @size;
    margin-right: @size;
  }
  &::after {
    left: 50%;
    right: @size;
    margin-left: @size;
  }
}

// let the real CSS begin
.react-native-web {

  // justify-content: center;
  // display: flex;
  // flex-direction: column;
  //
  // .hello-world {
  //   text-align: center;
  //   margin-left: auto;
  //   margin-right: auto;
  //   padding: 50%;
  // }
}
@keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.spinner {

  animation-name: spinner;
  animation-timing-function: linear;
  animation-duration: .3s;
  animation-iteration-count: infinite;
}
.fade-enter {
  filter: grayscale(100%);
  opacity: 0;
	border: 1px solid red;
}
.fade-enter-active {
  opacity: 1;
  filter: grayscale(0);
  background: transparent;
  transition: all 300ms linear;
}

.kek-enter {
  opacity: 0;
  z-index: 1;
}

.kek-enter.kek-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-appear {
  filter: grayscale(100%);
  opacity: 0;
	transform: translateX(1rem);
}
.fade-appear-active {
  opacity: 1;
  filter: grayscale(0);
	transform: translateX(0);
	transition: all 400ms cubic-bezier(.58,.02,.71,.3);
	transition: all 400ms cubic-bezier(.58,.02,.7,.88);
	background: transparent;
}



.bump-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.bump-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 500ms ease-in;
}
.bump-appear {
  animation-duration: 500ms;
  animation-name: bounceInDown;
}


@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 10px, 0);
  }
  75% {
    transform: translate3d(0, -4px, 0);
  }
  90% {
    transform: translate3d(0, 2px, 0);
  }
  100% {
    transform: none;
  }
}
.bump-appear-active {
  transform: translateY(0%);
  transition: all 500ms ease-in;
}
.tags-group {
  font-size: .85em;
  .tag {
    font-size: 1em;
    &:last-child::after {
      content: '';
    }
    &::after {
      content: ','
    }
  }
}
.tags-icon {
  @mainShift: .3em;
  @shadowShift: .1em;
  @centeringPad: -(@mainShift+@shadowShift)/2;
  svg {
    &:nth-of-type(1) {
      margin-left: @centeringPad;
    }
    &:nth-of-type(2) {
      margin-left: @mainShift - 1em;
    }
    &:nth-of-type(3) {
      margin-left: @shadowShift - 1em;
      margin-right: @centeringPad;
    }
  }
}
.tag {
  margin-right: .3em;
  font-size: .85em;
  .text {
    margin-left: .4em;
    .dashed();
  }
}
@keyframes leftToRight {
    0% {
      transform: translateX(-200%) scale(1,1);
    }
    50% {
      transform: translateX(0%) scale(2.2,1);
    }
    100% {
      transform: translateX(200%) scale(1,1);
    }
}

.pointer {
  cursor: pointer;
}
.row {
  overflow: hidden;
}
.lighten_rel(@prop, @color, @amount) {
    @{prop}: lighten(@color, lightness(@color) * @amount);
}
.darken_rel(@prop, @color, @amount) {
    @{prop}: darken(@color, lightness(@color) + @amount);
}
.justify-content {
	display: flex;
	justify-content: space-between;
}

@import "variables.less";
@import "kek.less";
@import "color.less";
@import "typography.less";
@import "grid.less";
@import "grid_bootstrap.less";
@import "modal.less";
@import "nav.less";
@import "breadcrumbs.less";
@import "input.less";
@import "sidebar.less";
@import "alert.less";
@import "card.less";
@import "button.less";
@import "button-group.less";
@import "headerBar.less";
@import "pagination.less";

// @import "iphone.less";
@import "project.less";
@import "project/sidebar.less";
@import "project/news.less";
